@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --primary-red: hsl(0, 100%, 74%);
  --primary-green: hsl(154, 59%, 51%);
  --accent-blue: hsl(248, 32%, 49%);
  --neutral-dark-blue: hsl(249, 10%, 26%);
  --neutral-greyish-blue: hsl(246, 25%, 77%);
  --ff-main: "Poppins", sans-serif;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--primary-red);
  background-image: url(images/bg-intro-mobile.png);
  padding: 5.625rem 1.625rem 0;
  font-family: var(--ff-main);
}
.space-top{
  margin-top: 1rem;
}
.wrapper{
  display: flex;
  width: 100%;
  flex-direction: column;
  color: #ffffff;
  margin-bottom: 2rem;
}
.wrapper__information{
  text-align: center;
  margin-bottom: 3.75rem;
  flex: 1;
}
.wrapper__information-heading{
  margin-bottom: 1.875rem
}
.wrapper__section{
  flex: 1;
}
.wrapper__form{
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.wrapper__free{
  display: inline-block;
  text-align: center;
  background: var(--accent-blue);
  padding: 1.25rem 4.5rem ;
  border-radius: 0.8em;
  line-height: 1.5;
  margin-bottom: 1.56rem;
  width: 100%;
  min-width: 100%;
  box-shadow: 0 6px 1px 0 #0000002f;
}
.wrapper__form{
  background: #ffffff;
  padding: 1.5625rem;
  border-radius: 0.8em;
  box-shadow: 0 6px 1px 0 #0000002f;
}
.form-control{
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 100%;
}
.wrapper__form input{
  font-family: var(--ff-main);
  border: 0.25px solid #E1E1E1;
  border-radius: 5px;
  padding: 1rem;
  color: var(--neutral-dark-blue);
  font-weight: 600;
}
.btn{
  background: var(--primary-green);
  border: none;
  color: white;
  font-weight: bold;
  padding: 1rem 2.5rem;
  border-radius: 5px;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  box-shadow: 0 3px 1px 0 hsla(154, 59%, 51%, 0.541);
  cursor: pointer;
}
.btn:hover{
  opacity: 0.8;
}
.wrapper__form p{
  text-align: center;
  font-size: 0.75em;
  color: var(--neutral-greyish-blue);
}

.terms a {
  font-weight: 500;
  color: var(--primary-red);
  text-decoration: none;
}
small{
  color: var(--primary-red);
  text-align: right;
  font-style: italic;
  font-size: 11px;
}
.wrapper__form input.error  {
  border-color: var(--primary-red);
}

.fa-exclamation-circle {
  font-size: 1.25rem;
  position: absolute;
  right: 1rem;
  bottom: 50%;
  color: var(--primary-red);
}
.space-top + i{
  bottom: 40%;
}
i, small {
  visibility: hidden;
}
.visible{
  visibility: visible;
}

@media only screen and (min-width: 56.25rem){
  body{
    background-image: url("images/bg-intro-desktop.png");
    padding: 7.5rem 12.5% 0;
  }
  .wrapper{
    flex-direction: row;
    width: 100%;
    max-height: 100%;
  }
  .wrapper__information{
    text-align: left;
    max-width: 37.5rem;
    padding-right: 4.375rem;
    margin: auto;
  }
  .wrapper__information-heading{
    font-size: 3rem;
  }
  .wrapper__section{
    width: 100%;
  }
  .wrapper__form{
    padding: 2.5rem;
  }
}